h1{
    font-size: 100px;
    text-align: center;
}
h2{
    font-size: 75px;
    text-align: center;
}
h3{
    font-size: 30px;
    text-align: center;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
body{
    background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
    background-color: blueviolet;
}
.illuminati{
    padding-left: 25%;
    align-items: center;
}